# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/dist

# IDEs and editors
.project
*.launch
.settings/

# IDE - VSCode
.vscode/*
.history/*

.env
.venv

# Pyright LSP Server for nvim
pyrightconfig.json

*.egg-info

